<.svelte
  name="dashboard"
  props={
    %{
      node_info: @node_info,
      trace_settings: @trace_settings,
      rate_limiting: @rate_limiting,
      options_settings: @options_settings,
      op_status: @op_status
    }
  }
  socket={@socket}
  ssr={false}
/>
