on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '28.1.1'
          elixir-version: '1.19.2'
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - name: Build
        run: |
          mix setup
          mix assets.deploy
          MIX_ENV=prod mix release --force --overwrite
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          name: X-Trace ${{ github.ref_name }}
          body: 'Take a look at the assets to download and install this app.'
          draft: true
          prerelease: false
          artifacts: "burrito_out/xtrace_*"